/* Base styles */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

main {
  padding: 15px;
  color: #46698b;
}

header {
  color: #ffffff;
  background: #2d3945;
  padding: 25px 0;
  text-align: center;
}

.signup {
  text-align: center;
}

h2,
legend {
  padding-top: 10px;
  padding-bottom: 15px;
  color: #2d3945;
}

h1 {
  font-weight: 600;
  font-size: 22px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}

.thick {
  border-bottom: 3px double #2d3945;
}

p,
footer {
  color: #9da3a8;
}

footer {
  font-style: italic;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 160px;
}

legend {
  font-size: 20px;
  font-weight: 700;
}

/* Forms */

form {
  margin: 0 auto;
}

.contact_information label {
  display: block;
  font-size: 16px;
  padding: 18px 0 10px 0;
  font-weight: 200;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  padding: 16px 10px;
  width: 100%;
}

select,
textarea {
  padding: 16px 10px;
  width: 100%;
}

input,
textarea,
select {
  border-radius: 5px;
  background: #eff0f1;
  border: 2px solid #eff0f1;
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid #46698b;
}

::placeholder {
  opacity: 0.5;
  text-align: right;
  font-size: 12px;
  font-style: italic;
}

#zip {
  max-width: 160px;
}

/* Button */

button {
  color: #ffffff;
  background: #4ebbb5;
  border-radius: 4px;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}
